.intro{
  background: url("../../../../assets/img/intro.png");
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 600px;

  h1{
    color: rgb(255, 58, 45);
    font-size: 40px;
    line-height: 1;
  }

  h2{
    font-size: 50px;
    color:#fff;
    font-weight: 300;
    margin: 20px 0;
  }

  .list{
    list-style: none;
    padding: 0;
    margin: 0;

    li{
      color: #fff;
      font-size: 18px;
      margin-bottom: 10px;

      svg{
        margin-right: 10px;
        vertical-align: middle;

        ::ng-deep path{
          fill: rgb(255, 58, 45);
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    h1{
      font-size: 50px;
      line-height: 1.5;
    }
  }

}

.products{
  padding: 40px 0 65px;
}

.benefits{
  background: #f4f4f4;
  padding: 30px 0 50px;

  .item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .icon{
      background: #ffffff;
      border-color: #333333;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 15px;
      flex: 0 0 auto;
      text-align: center;
      color: #335cc7;
      line-height: 50px;
      font-size: 30px;

      .fa-truck{
        font-size: 25px;
        margin-left: 5px;
      }
    }

    p{
      font-size: 18px;
      line-height: 24px;
      color: #3c3e45;
      font-weight: 600;
    }
  }

  @media screen and (min-width: 768px) {
    .item{
      align-items: flex-start;
      margin-bottom: 0;
    }
  }
}
