<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Металлическая водосточная система </h1>

                <h2>RAINGUARD</h2>

                <ul class="list">
                    <li>
                        <i class="fas fa-check"></i>
                        Долговечность продукции
                    </li>
                    <li>
                         <i class="fas fa-check"></i>
                        Огнестойкость
                    </li>
                    <li>
                         <i class="fas fa-check"></i>
                        Гарантия 50 лет
                    </li>
                    <li>
                         <i class="fas fa-check"></i>
                        Устойчивость к серьезным нагрузкам
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img src="../../../../assets/img/product-350x350.png" alt="">
            </div>
            <div class="col-md-6">
                <h3 class="title-section">Продукция RAINGUARD</h3>
                <p>
                    <b>Металл USS Cosice (Словакия)</b> — это высококачественный металл в котором используется
                    толстослойный полиэстер с очень мелкой зернистой структурой, обеспечивающей оптимальное
                    соотношение эластичности и твердости и отличается хорошей устойчивостью к атмосферным воздействиям
                    и поверхностного износа);
                    <br><br>
                    Имеет двустороннее покрытие с толщиной 35 мкм. Слой цинкового покрытия 275 гр / м2, толщина
                    0,6 мм. 9 цветов USS (3005, 3009, 6020, 7024, 8004, 8017, 8019, 9005, 9010), и 5 цветов SSAB ().
                </p>
            </div>
        </div>
    </div>
</section>

<section class="benefits">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-section">Преимущества RAINGUARD</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="item">
                    <div class="icon">
                        <i class="far fa-hospital"></i>
                    </div>
                    <p>Современное оборудование из Финляндии</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="icon">
                        <i class="fas fa-shield-alt"></i>
                    </div>
                    <p>Гарантия 50 лет</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="icon">
                        <i class="fas fa-home"></i>
                    </div>
                    <p>Простота монтажа</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p>Доставка по всей Украине</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-colors></app-colors>

<app-contact></app-contact>
