<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Металічна водостічна система RainGuard</h1>

                <h2>RAINGUARD</h2>

                <ul class="list">
                    <li>
                        <i class="fas fa-check"></i>
                        Довговічність продукції
                    </li>
                    <li>
                         <i class="fas fa-check"></i>
                        Вогнестійкість
                    </li>
                    <li>
                         <i class="fas fa-check"></i>
                        Гарантія 50 років
                    </li>
                    <li>
                         <i class="fas fa-check"></i>
                        Стійкість до великих навантажень
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img src="../../../../assets/img/product-350x350.png" alt="">
            </div>
            <div class="col-md-6">
                <h3 class="title-section">Продукція RainGuard</h3>
                <p>
                    <b>Метал USS Cosice (Словакія)</b> – це високоякісний метал в якому використовуються товстошаровий поліестер з дуже дрібною зернистою структурою, забезпечуючи оптимальне відношення еластичності і твердості та відрізняється хорошою стійкістю до атмосферного впливу і поверхневого зносу;
                    <br><br>
                    Має двохстороннє покриття з товщиною 35 мкм, шар цинкового покриття 275гр/м2, товщина 0,6 мм. Кольорова гама включає 9 кольорів (3005, 3009, 6020, 7024, 8004, 8017, 8019, 9005, 9010)
                </p>
            </div>
        </div>
    </div>
</section>

<section class="benefits">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-section">Переваги RAINGUARD</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="item">
                    <div class="icon">
                        <i class="far fa-hospital"></i>
                    </div>
                    <p>Сучасне обладнання з Фінляндії  </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="icon">
                        <i class="fas fa-shield-alt"></i>
                    </div>
                    <p>Гарантія 50 років</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="icon">
                        <i class="fas fa-home"></i>
                    </div>
                    <p>Легкий у монтажі</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p>Доставка по всій Україні</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-colors></app-colors>

<app-contact></app-contact>
