<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 class="title">Наші контакти</h4>
                <h5>Виробництво</h5>
                <ul class="list">
                    <li>
                        <span class="circle">
                            <i class="fas fa-map-marker-alt"></i>
                        </span>
                        <p>с. Ямниця вул. Назарія Яремчука 17, Івано-Фрнаківська обл.</p>
                    </li>
                    <li>
                        <span class="circle">
                            <i class="fas fa-mobile-alt"></i>
                        </span>
                        <p><b>тел. 099-332-88-63</b></p>
                    </li>
                    <li>
                        <span class="circle">
                            <i class="fas fa-mobile-alt"></i>
                        </span>
                        <p><b>тел. 068-840-72-87</b></p>
                    </li>
                </ul>

<!--                <div class="contact-form">-->
<!--                    <input class="form-control" type="text" placeholder="Ваше имя*" required>-->
<!--                    <input class="form-control" type="text" placeholder="Email почта" required>-->
<!--                    <input class="form-control" type="text" placeholder="Телефон*" required>-->
<!--                    <textarea class="form-control" rows="4" placeholder="Сообщение*"></textarea>-->
<!--                </div>-->
            </div>
            <div class="col-md-8">
                <h4 class="title">Наші координати</h4>
                <!-- Google map-->
                <div class="map">
                    <iframe width="100%" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2618.7210876699223!2d24.719283315643874!3d48.9778335002433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDjCsDU4JzQwLjIiTiAyNMKwNDMnMTcuMyJF!5e0!3m2!1sru!2sua!4v1590605148886!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
