.contact-us{
  background: #f4f4f4;
  padding: 40px 0;

  .list{
    margin: 0;
    padding: 0;
    list-style: none;

    li{
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .circle{
        background: #f75442;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 15px;
        flex: 0 0 auto;
        text-align: center;
        color: #fff;
        line-height: 36px;
        font-size: 20px;
      }
    }
  }

  .map{
    border:5px solid #f7f7f7;
  }
}
