
<div class="container">
    <section class="specification row">
        <div class="col-lg-12">
            <div class="bg-products-image"></div>
            <div class="content">
                <h2 class="title-section">Металічна водостічна система RAINGUARD</h2>

                <p>це новітні фінські технології в поєднанні з металами світових брендів.</p>

                <h3>Характеристики:</h3>

                <ul>
                    <li>✔ Сучасне обладнання з Фінляндії;</li>
                    <li>✔ Метал USS Cosice (Словаччина) - це високоякісний метал в якому використовується товстошарові поліестер з дуже дрібної зернистої структурою, що забезпечує оптимальне співвідношення еластичності і твердості і відрізняється хорошою стійкістю до атмосферних впливів і поверхневого зносу);</li>
                    <li>✔ Двостороння покриття з товщиною 35 мкм. Шар цинкового покриття 275 гр / м2, товщина 0,6 мм;</li>
                    <li>✔ Розмір 125/87;</li>
                    <li>✔ 50 років гарантії;</li>
                    <li>✔ 9 кольорів USS (3005, 3009, 6020, 7024, 8004, 8017, 8019, 9005, 9010);</li>
                    <li>✔ Тест на удар (J): ≥ 20</li>
                    <li>✔ 5 кольорів SSAB ();</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="products row">
        <div class="col-lg-12">
            <div class="list">
                <div class="item" *ngFor="let product of products">
                    <div class="photo">
                        <img [src]="product.img" [alt]="product.title">
                    </div>
                    <div class="desctiption">
                        <p class="name">{{product.title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<app-colors></app-colors>
