
<div class="container">
    <section class="specification row">
        <div class="col-lg-12">
            <div class="bg-products-image"></div>
            <div class="content">
                <h2 class="title-section">Металлическая водосточная система RAINGUARD</h2>

                <p>это новейшие финские технологии в сочетании с металлами мировых брендов.</p>

                <h3>Характеристики:</h3>

                <ul>
                    <li>✔ Современное оборудование из Финляндии;</li>
                    <li>✔ Металл USS Cosice (Словакия) - это высококачественный металл в котором используется толстослойный полиэстер с очень мелкой зернистой структурой, обеспечивающей оптимальное соотношение эластичности и твердости и отличается хорошей устойчивостью к атмосферным воздействиям и поверхностного износа);</li>
                    <li>✔ Двустороннее покрытие с толщиной 35 мкм. Слой цинкового покрытия 275 гр / м2, толщина 0,6 мм;</li>
                    <li>✔ Размер 125/87;</li>
                    <li>✔ 50 лет гарантии;</li>
                    <li>✔ 9 цветов USS (3005, 3009, 6020, 7024, 8004, 8017, 8019, 9005, 9010);</li>
                    <li>✔ Тест на удар (J): ≥ 20</li>
                    <li>✔ 5 цветов SSAB ();</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="products row">
        <div class="col-lg-12">
            <div class="list">
                <div class="item" *ngFor="let product of products">
                    <div class="photo">
                        <img [src]="product.img" [alt]="product.title">
                    </div>
                    <div class="desctiption">
                        <p class="name">{{product.title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<app-colors></app-colors>
