<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-flex justify-content-md-start justify-content-center align-items-center">
                <a routerLink="/" class="logo">
                    <img src="../../../../assets/img/logo-horizontal_line_white.svg" alt="rainguard">
                </a>
            </div>
            <div class="col-lg-8">
                <p class="copyright">© 2020 komplektdim.if.ua. Всі права захищені.</p>
            </div>
        </div>
    </div>
</footer>
